# ── Root env for Docker Compose ─────────────────────────────
MONGO_ROOT_USER=admin
MONGO_ROOT_PASS=changeme_strong_password
REDIS_PASSWORD=redis_strong_password

NEXT_PUBLIC_APP_URL=https://anuragswain.dev
NEXT_PUBLIC_API_URL=http://localhost:5001
NEXT_PUBLIC_CHATBOT_URL=http://localhost:8001
