PORT=5001
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/portfolio
MONGODB_URI_PROD=mongodb+srv://user:password@cluster.mongodb.net/portfolio
JWT_SECRET=your_super_secret_jwt_key_change_in_production_min_32_chars
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=Admin@SecurePassword123
ADMIN_NAME=Anurag Swain
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your_app_password
CONTACT_EMAIL=anurag.swain35@gmail.com
FROM_EMAIL="Portfolio <your@gmail.com>"
CLIENT_URL=http://localhost:3000
GITHUB_USERNAME=HUNTER-X0s
GITHUB_TOKEN=ghp_your_token
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=10485760
